:root {
    --principal-color: #7765e3;
    --secondary-color: #364fab;
    --principal-color--inactive: #7865e370;
    --tertiary-color: #9381fc;
    --principal-dark: #0e0e23;
    --secondary-dark: #181e34;
}

* {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--principal-dark);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #eee;
}

button {
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner, *::-webkit-scrollbar {
    background-color: var(--secondary-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
    border-radius: 5px;
}